<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/trip">Trips</a></li>
                  <li class="breadcrumb-item active">Edit</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; Edit Trip
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_name">Arabic Name</label>
                          <input
                            type="text"
                            id="ar_name"
                            name="ar_name"
                            class="form-control"
                            placeholder="Arabic Name"
                            value="<%= data.ar_name || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="en_name">English Name</label>
                          <input
                            type="text"
                            id="en_name"
                            name="en_name"
                            class="form-control"
                            placeholder="English Name"
                            value="<%= data.en_name || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group">
                          <label>Destination</label>
                          <select id="destination_id" name="destination_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                            <% destinations.forEach((destination) => { %>
                              <option value="<%= destination.id %>" <%= data.destination_id == destination.id ? 'selected' : ''%>><%= destination.en_title %> - <%= destination.ar_title %></option>
                            <% }); %>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="length">Length (in KM)</label>
                          <input type="text" id="length" name="length" class="form-control" placeholder="Length in KM" value="<%= data.length || null %>" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="from">Start Date Time</label>
                          <input class="form-control" type="datetime-local" id="from" value="<%= data.from %>" />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="to">End Date Time</label>
                          <input class="form-control" type="datetime-local" id="to" value="<%= data.to %>" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6" style="padding-right: 22px; padding-left: 5px">
                          <label for="image">Image</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image" name="image" accept="image/x-png" onchange="loadImg(event)" />
                            <label class="custom-file-label" id="custom-file-label-img" for="image"><%= data.image || "Choose file" %></label>
                          </div>
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_image_display" width="120" height="120" src="/p/img/<%= data.image %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_description">Description en</label>
                          <textarea type="text" id="en_description" name="en_description" class="form-control" placeholder="description en" rows="3"><%= data.en_description || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_description">Description ar</label>
                          <textarea type="text" id="ar_description" name="ar_description" class="form-control" placeholder="description ar" rows="3"><%= data.ar_description || null %></textarea>
                        </div>
                      </div>
                      <% if (activities && activities.length) { %><div id="accordion" role="tablist"></div><% } %>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button id="submitForm" type="submit" class="btn btn-primary has-spinner">Update</button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      var activities = JSON.parse(`<%-JSON.stringify(activities)%>`);
      var tripActivities = JSON.parse(`<%-JSON.stringify(tripActivities)%>`);
      var fromDate = null;
      var toDate = null;
      var days;
      var show = false;
      var oldFrom = null;
      var oldTo = null;
      $(document).ready(function () {
        fromDate = $("#from").val();
        toDate = $("#to").val();
        oldFrom = fromDate;
        oldTo = toDate;
        days = Math.ceil(Math.abs(new Date(toDate).getTime() - new Date(fromDate).getTime()) / (1000 * 3600 * 24));
        getActivitiesDays();
        $('body').click(function() {
          fromDate = $("#from").val();
          toDate = $("#to").val();
          days = Math.ceil(Math.abs(new Date(toDate).getTime() - new Date(fromDate).getTime()) / (1000 * 3600 * 24));
          if (days && (oldFrom !== fromDate || oldTo !== toDate || !show)) {
            show = true;
            $('#accordion').empty();
            getActivitiesDays();
          }
        });
      });
      function getActivitiesDays() {
        for (const tripActivity of tripActivities) {
          $('#accordion').append(`
            <div class="card">
              <div class="card-header" role="tab" id="${tripActivities.indexOf(tripActivity)}">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapse${tripActivities.indexOf(tripActivity)}" aria-expanded="true" aria-controls="${tripActivities.indexOf(tripActivity)}">Day ${tripActivities.indexOf(tripActivity) + 1}</a>
                </h5>
              </div>
              <div id="collapse${tripActivities.indexOf(tripActivity)}" class="collapse" role="tabpanel" aria-labelledby="${tripActivities.indexOf(tripActivity)}">
                <div class="row card-body" id="activities-cards-${tripActivities.indexOf(tripActivity)}"></div>
              </div>
            </div>
          `);
          for (const activity of activities) {
            let isExist = tripActivity.activities.find((ta) => ta.activity_id === activity.id);
            $('#activities-cards' + `-${tripActivities.indexOf(tripActivity)}`).append(`
              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                <img class="card-img-top" src="/p/img/${activity.image}" alt="Photo">
                <div class="card-body">
                    <div class="row m-1 d-flex justify-content-center">
                        <h4 class="card-title"><span>${activity.name}</span></h4>
                    </div>
                    <div class="row m-1 d-flex justify-content-center">
                      <h6 class="card-subtitle text-secondary"><span>${activity.category}</span></h6>
                    </div>
                    <div class="row m-1 d-flex justify-content-center">
                      <button type="button" class="btn btn-primary" id="addRemoveBtn-${activity.id}" onclick="addRemove('${tripActivities.indexOf(tripActivity)}', '${activity.id}', ${!!isExist})">
                        ${!isExist ? `<i class="fas fa-plus"></i>` : `<i class="fas fa-minus"></i>`}
                      </button>
                    </div>
                    <div class="row m-1 d-flex justify-content-center">
                      <a href="/activity/view/${activity.id}" class="btn btn-primary">More Details</a>
                    </div>
                </div>
              </div>
            `);
          }
        }
      }
    </script>
    <script src="/website/js/trip/edit.js"></script>
  </body>
</html>
