<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <%- include('../layout/heade.ejs') %>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/trip">Trip</a></li>
                  <li class="breadcrumb-item active">View</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; View Trip
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_name">Name Arabic</label>
                          <input
                            type="text"
                            readonly
                            id="ar_name"
                            name="ar_name"
                            class="form-control"
                            placeholder="Name Arabic"
                            value="<%= data.ar_name || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="en_name">Name English</label>
                          <input
                            type="text"
                            readonly
                            id="en_name"
                            name="en_name"
                            class="form-control"
                            placeholder="Name English"
                            value="<%= data.en_name || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="length">Length in KM</label>
                          <input
                            type="text"
                            readonly
                            id="length"
                            name="length"
                            class="form-control"
                            placeholder="Length in KM"
                            value="<%= data.length || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="from">Start Date Time</label>
                          <input readonly class="form-control" type="datetime-local" id="from" value="<%= data.from %>" />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="to">End Date Time</label>
                          <input readonly class="form-control" type="datetime-local" id="to" value="<%= data.to %>" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6" style="padding-right: 22px; padding-left: 5px">
                          <label for="image">Image</label>
                          <div class="custom-file">
                            <label class="custom-file-label" id="custom-file-label-img" for="image"><%= data.image || "Choose file" %></label>
                          </div>
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_store_image_display" width="120" height="120" src="/p/img/<%= data.image %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="username">User Name</label>
                          <input
                            type="text"
                            readonly
                            id="username"
                            name="username"
                            class="form-control"
                            placeholder="User Name"
                            value="<%= data.tbl_web_apps_user ? data.tbl_web_apps_user.fullName : data.admin ? data.admin.fullName : data.adminName || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">Email</label>
                          <input
                            type="text"
                            readonly
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Email"
                            value="<%= data.tbl_web_apps_user ? data.tbl_web_apps_user.email : data.admin ? data.admin.email : data.adminEmail || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="phone">Phone</label>
                          <input
                            type="text"
                            readonly
                            id="phone"
                            name="phone"
                            class="form-control"
                            placeholder="Phone"
                            value="<%= data.tbl_web_apps_user ? data.tbl_web_apps_user.phone : data.admin ? data.admin.phone : data.adminPhone || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="destination">Destination</label>
                          <input
                            type="text"
                            readonly
                            id="destination"
                            name="destination"
                            class="form-control"
                            placeholder="Destination"
                            value="<%= data['tbl_destination.en_title'] || null %> - <%= data['tbl_destination.ar_title'] || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_description">Description en</label>
                          <textarea disabled type="text" id="en_description" name="en_description" class="form-control" placeholder="description en" rows="3"><%= data.en_description || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_description">Description ar</label>
                          <textarea disabled type="text" id="ar_description" name="ar_description" class="form-control" placeholder="description ar" rows="3"><%= data.ar_description || null %></textarea>
                        </div>
                      </div>
                      <% if (tripActivities && tripActivities.length) { %>
                        <div id="accordion" role="tablist">
                          <% for (let [i, tripActivity] of tripActivities.entries() || []) { %>
                            <div class="card">
                              <div class="card-header" role="tab" id="<%= i %>">
                                <h5 class="mb-0">
                                  <a data-toggle="collapse" href="#collapse<%= i %>" aria-expanded="true" aria-controls="<%= i %>">Day <%= i + 1 %></a>
                                </h5>
                              </div>
                              <div id="collapse<%= i %>" class="collapse" role="tabpanel" aria-labelledby="<%= i %>">
                                <div class="row card-body" id="activities-cards-<%= i %>">
                                  <% for (const activity of tripActivity.activities) { %>
                                    <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                      <img class="card-img-top" src="/p/img/<%= activity.image %>" alt="Photo">
                                      <div class="card-body">
                                          <div class="row m-1 d-flex justify-content-center">
                                              <h4 class="card-title"><span><%= activity.name %></span></h4>
                                          </div>
                                          <div class="row m-1 d-flex justify-content-center">
                                            <h6 class="card-subtitle text-secondary"><span><%= activity.category %></span></h6>
                                          </div>
                                          <div class="row m-1 d-flex justify-content-center">
                                            <a href="/activity/view/<%= activity.id %>" class="btn btn-primary">More Details</a>
                                          </div>
                                      </div>
                                    </div>
                                  <% } %>
                                </div>
                              </div>
                            </div>
                          <% } %>
                        </div>
                      <% } %>
                    </div>
                    <div class="form-group">
                      <h3 class="text-center">Location</h3>
                      <div id="googleMap" style="width:100%; height:400px;"></div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary" id="submitAdd" onclick="addOrder()">Add Order</button>
                      <a href="/trip/edit/<%= data.id %>" class="btn btn-warning has-spinner">Edit</a>
                      <a href="/trip" class="btn btn-secondary has-spinner">Cancel</a>
                      <a href="/website/media/<%= module_id %>/image" class="btn btn-info has-spinner">See More Album Images</a>
                      <a href="/website/media/<%= module_id %>/video" class="btn btn-warning has-spinner">See More Album Videos</a>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script>
      var data = JSON.parse(`<%-JSON.stringify(data)%>`);
      var days = Math.ceil(Math.abs(new Date(data.from).getTime() - new Date(data.to).getTime()) / (1000 * 3600 * 24));
      var initMap = () => {
        var mapProp = {
          center: { lat: data['tbl_destination.location_lat'], lng: data['tbl_destination.location_long'] },
          scaleControl: true,
          fullscreenControlOptions: { position: google.maps.ControlPosition.RIGHT_BOTTOM },
          mapTypeId: 'hybrid',
          zoom: 12,
        };
        var map = new google.maps.Map(document.getElementById('googleMap'), mapProp);
        var marker = new google.maps.Marker({ position: mapProp.center, map, animation: google.maps.Animation.BOUNC });
        marker.setMap(map);
        map.addListener("click", (mapsMouseEvent) => {
          infoWindow.close();
          infoWindow = new google.maps.InfoWindow({ position: mapsMouseEvent.latLng });
        });
      };
      function addOrder() {
        $.ajax({
            url: `/ticket/order`,
            data: formData,
            processData: false,
            contentType: false,
            mimeType: "multipart/form-data",
            type: 'POST',
        }).done(function (data) {
            $('.toast-body').text("New Ticket Order add Successful");
            $('.toast').toast("show");
        }).fail(function (xhr) {
            const error = JSON.parse(xhr.responseText);
            $("#modal-body-val").html(`<span style="font-size: large">${error.msg}<br/>&emsp;&nbsp;${error.err ? error.err: ""}</span>`);
            $("#exampleModal").modal("show");
        }).always(function () {
            $("#submitAdd").buttonLoader("stop");
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVAIyZekr82kt8-pDk64xbyp26J1CnbTY&callback=initMap&v=weekly"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
