<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
    integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/dashboard/region">Region</a></li>
                  <li class="breadcrumb-item active">Edit</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; Edit Region
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_name">Name Arabic</label>
                          <input
                            type="text"
                            id="ar_name"
                            name="ar_name"
                            class="form-control"
                            placeholder="Name Arabic"
                            value="<%= data.ar_name || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="en_name">Name English</label>
                          <input
                            type="text"
                            id="en_name"
                            name="en_name"
                            class="form-control"
                            placeholder="Name English"
                            value="<%= data.en_name || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="latitude">Latitude</label>
                          <input type="text" id="latitude" name="latitude" class="form-control" placeholder="latitude" value="<%= data.latitude || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="longitude">Longitude</label>
                          <input type="text" id="longitude" name="longitude" class="form-control" placeholder="longitude" value="<%= data.longitude || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>Country</label>
                            <select
                            id="country_id"
                            name="country_id"
                            class="form-control select2 select2-danger"
                              data-dropdown-css-class="select2-danger"
                              style="width: 100%"
                            >
                              <% for(let [index,country] of countries.entries() || []){ %>
                              <option value="<%=country.country_id%>"   <%= country.country_id == data.country_id ? 'selected' : ''%>   ><%=country.en_name%></option>
                              <%} %>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>City</label>
                            <select
                              id="city_id"
                              name="city_id"
                              class="form-control select2"
                              style="width: 100%"
                              data-live-search="true"
                            ></select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button id="submitForm" type="submit" class="btn btn-primary has-spinner">Update</button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"
    integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
    <script>
      var cityId = '<%= data.city_id  %>';
   </script>
    <script src="/js/region/edit.js"></script>
  </body>
</html>
