<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <img src="/p/img/logo500x240.png" style="width: 150px" />
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign up to start your session as a Tour Guide</p>
          <form id="newForm" action="" onsubmit="">
            <div class="input-group mb-3">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name" />
            </div>
            <div class="input-group mb-3">
              <input type="text" id="username" name="username" class="form-control" placeholder="User Name or Nick Name" />
            </div>
            <div class="input-group mb-3">
              <label>Gender</label>
              <select id="gender" name="gender" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label>City</label>
              <select id="city_id" name="city_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                <% for(let [index,city] of cities.entries() || []) { %>
                  <option value="<%= city.city_id %>"><%= city.ar_name %> - <%= city.en_name %></option>
                <% } %>
              </select>
            </div>
            <div class="input-group mb-3">
              <input type="text" id="email" name="email" class="form-control" placeholder="Email" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <label for="image">Profile</label>
              <div class="custom-file ml-1">
                <input type="file" class="custom-file-input" id="image" name="image" accept="image/x-png" />
                <label class="custom-file-label" id="custom-file-label-img" for="image"></label>
              </div>
            </div>
            <div class="input-group mb-3">
              <label for="file">CV</label>
              <div class="custom-file ml-1">
                <input type="file" class="custom-file-input" id="file" name="file" />
                <label class="custom-file-label" id="custom-file-label" for="file"></label>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" id="password" class="form-control" placeholder="Password" required />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <label>Verify Option</label>
              <select id="verifyOption" name="verifyOption" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                <option value="email">By Email</option>
                <option value="phone">By Phone</option>
              </select>
            </div>
            <div class="input-group mb-3 d-flex justify-content-center"><span>Already have an account, <a href="/user/login">Sign In</a></span></div>
            <div class="card-footer d-flex justify-content-center">
              <button id="submitAdd" type="submit" class="btn btn-primary has-spinner">Sign Up</button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <%- include('../layout/script.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/website/js/guide/new.js"></script>
  </body>
</html>
