<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-4"><h1>Charts report</h1></div>
              <div class="col-sm-4 d-flex align-items-center">
                <div class="form-group">
                  <label>From - To</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="fromTo" />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active">Charts report</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row mt-2">
              <div class="col-md-6">
                <!-- userTypeChart CHART -->
                <div class="card card-danger">
                  <div class="card-header">
                    <h3 class="card-title">Users gender statistics</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="genderTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- userLoginChart CHART -->
                <div class="card card-secondary">
                  <div class="card-header">
                    <h3 class="card-title">Users login statistics</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="userLoginChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col (LEFT) -->
              <div class="col-md-6">
                <!-- userTypeChart CHART -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Users Type statistics</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="userTypeChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- New user this vs last month CHART -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">New user this vs last month</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="newUserChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="/js/plugins/chart.js/Chart.min.js"></script>
    <script>
      $(document).ready(function () {
        var ctx = $("#genderTypeChart")
        var genderTypeChart = new Chart(ctx, {
          type: "doughnut",
          data: {
            labels: ["Male", "Female"],
            datasets: [
              {
                data: ["<%= userNumbers.totalMale %>", "<%= userNumbers.totalFemale %>"],
                backgroundColor: ["#17a2b8", "#ffc107"],
              },
            ],
          },
          options: {
            title: {
              display: false,
            },
          },
        })
        var gus = $("#userTypeChart")
        var userTypeChart = new Chart(gus, {
          type: "doughnut",
          data: {
            labels: ["Entity", "Individual"],
            datasets: [
              {
                data: ["<%= userNumbers.totalEntity %>", "<%= userNumbers.totalIndividual %>"],
                backgroundColor: ["#4caf50", "#ff9800"],
              },
            ],
          },
          options: {
            title: {
              display: false,
            },
          },
        })
        // var gus = $("#userLoginChart")
        // var userTypeChart = new Chart(gus, {
        //   type: "doughnut",
        //   data: {
        //     labels: ["Email", "Phone", "Facebook", "Google", "Apple"],
        //     datasets: [
        //       {
        //         data: [
        //           "<%= userNumbers.email %>",
        //           "<%= userNumbers.phone %>",
        //           "<%= userNumbers.facebook %>",
        //           "<%= userNumbers.google %>",
        //           "<%= userNumbers.apple %>",
        //         ],
        //         backgroundColor: ["#4caf50", "#ff9800", "#17a2b8", "#ffc107", "#dc3545"],
        //       },
        //     ],
        //   },
        //   options: {
        //     title: {
        //       display: false,
        //     },
        //   },
        // })
      })
    </script>
    <script>
      $(function () {
        var userLoginChart = {
          labels: ["Email", "Phone", "Facebook", "Google", "Apple"],
          datasets: [
            {
              label: "User Login method",
              borderColor: "rgba(60,141,188,0.8)",
              pointRadius: false,
              pointColor: "#3b8bba",
              pointStrokeColor: "rgba(60,141,188,1)",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(60,141,188,1)",
              data: [
                "<%= userNumbers.email %>",
                "<%= userNumbers.phone %>",
                "<%= userNumbers.facebook %>",
                "<%= userNumbers.google %>",
                "<%= userNumbers.apple %>",
              ],
              backgroundColor: ["#9c141d", "#149c78","#e07912", "#12e046","#6b6b69"],
            },
          ],
        }
        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#userLoginChart").get(0).getContext("2d")
        var barChartData = $.extend(true, {}, userLoginChart)
        var temp0 = userLoginChart.datasets[0]
        barChartData.datasets[0] = temp0

        var barChartOptions = {
          responsive: true,
          maintainAspectRatio: false,
          datasetFill: false,
        }

        new Chart(barChartCanvas, {
          type: "bar",
          data: barChartData,
          options: barChartOptions,
        })
      })
    </script>
    <script>
      $(function () {
        var newUserChart = {
          labels: ["Last month", "This month"],
          datasets: [
            {
              label: "New user this vs last month",
              borderColor: "rgba(60,141,188,0.8)",
              pointRadius: false,
              pointColor: "#3b8bba",
              pointStrokeColor: "rgba(60,141,188,1)",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(60,141,188,1)",
              data: ["<%= userNumbers.newUserLastMonth %>", "<%= userNumbers.newUserThisMonth %>"],
              backgroundColor: ["#fcba03", "#39a122"],
            },
          ],
        }
        //-------------
        //- BAR CHART -
        //-------------
        var newUserChartChartCanvas = $("#newUserChart").get(0).getContext("2d")
        var newUserChartData = $.extend(true, {}, newUserChart)
        var temp0 = newUserChart.datasets[0]
        newUserChartData.datasets[0] = temp0

        var newUserChartChartOptions = {
          responsive: true,
          maintainAspectRatio: false,
          datasetFill: false,
        }

        new Chart(newUserChartChartCanvas, {
          type: "bar",
          data: newUserChartData,
          options: newUserChartChartOptions,
        })
      })
    </script>
    <script>
      var from = null;
      var to = null;
      $(function () {
        $("#fromTo").daterangepicker(
          { locale: { format: "YYYY-MM-DD" }, startDate: new Date(), endDate: new Date(), dateFormat: "YYYY-MM-DD", opens: "left" },
          function (start, end, label) {
            from = start.format("YYYY-MM-DD");
            to = end.format("YYYY-MM-DD");
            window.location.href = `${window.location.pathname}?from=${from}&to=${to}`;
          }
        );
      });
    </script>
    <!-- <script src="/js/reports/chart-report.js"></script> -->
  </body>
</html>
