<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
    <style>
      .star {
          visibility:hidden;
          font-size:30px;
          cursor:pointer;
      }
      .star:before {
        content: "\2605";
        position: absolute;
        visibility:visible;
        color: gold;
      }
      .star:checked:before {
        content: "\2606";
        position: absolute;
      }
      .star:checked:after {
        content: "\2606";
        position: absolute;
        color: gold;
      }
      input[type="checkbox"]:checked {
        background-color:gold;
      }
    </style>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/website/destination">Destinations</a></li>
                  <li class="breadcrumb-item active">View</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <% if (data.user) { %>
                <div class="col-sm-12 d-flex justify-content-center">
                  <div class="form-group mt-2">
                    <button class="btn btn-primary" id="Addfav" onclick="addToFavourites('<%= data.id %>', '<%= !data.favourite %>', 'destination')" type="submit"><%= !!data.favourite? 'Remove Favourite' : 'Add Favourite' %></button>
                  </div>
                </div>
              <% } %>
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; View Destination
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="title">Title</label>
                          <input
                            type="text"
                            readonly
                            id="title"
                            name="title"
                            class="form-control"
                            placeholder="Title"
                            value="<%= data.title || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>City</label>
                            <select disabled id="city_id" name="city_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <option value="<%=data.city.id%>" selected><%= data.city.name %></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="description">Description</label>
                          <textarea disabled type="text" id="description" name="description" class="form-control" placeholder="description" rows="3"><%= data.description || null %></textarea>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_image_display" width="120" height="120" src="/p/img/<%= data.image %>" alt="Photo" />
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_file_display" width="120" height="120" src="/p/img/<%= data.file %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="when_visit">When Visit Description</label>
                          <textarea disabled type="text" id="when_visit" name="when_visit" class="form-control" placeholder="When Visit Description" rows="3"><%= data.when_visit || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="what_wear">What Wear Description</label>
                          <textarea disabled type="text" id="what_wear" name="what_wear" class="form-control" placeholder="When Visit Description" rows="3"><%= data.what_wear || null %></textarea>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="trans_desc">Transportation Description</label>
                          <textarea disabled type="text" id="trans_desc" name="trans_desc" class="form-control" placeholder="Transportation Description" rows="3"><%= data.trans_desc || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="travel_regulation">Travel Regulation Description</label>
                          <textarea disabled type="text" id="travel_regulation" name="travel_regulation" class="form-control" placeholder="Travel Regulation Description" rows="3"><%= data.travel_regulation || null %></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <h3 class="text-center">Location</h3>
                        <div id="googleMap" style="width:100%; height:400px;"></div>
                      </div>
                      <!-- <% if (data.images && data.images.length) { %>
                        <div class="row">
                          <div id="carouselImages" class="carousel ml-3 mt-2" data-ride="carousel">
                            <div class="carousel-inner rounded" role="listbox">
                              <% for (const image of data.images) { %>
                                <div class="carousel-item active">
                                  <div class="carousel-caption d-none d-md-block text-warning">
                                    <h4 class="text-center" style="font-size: 40px; font-weight: bold;">Destinations</h4>
                                    <h6 class="text-center" style="color: white;"><%= data.category %></h6>
                                  </div>
                                  <img class="d-block" src="/p/img/<%= image %>" alt="900x400" data-holder-rendered="true" style="width: 660px; height: 300px;">
                                </div>
                              <% } %>
                            </div>
                            <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                      <% } %>
                      <% if (data.videos && data.videos.length) { %>
                        <div class="row">
                          <div id="carouselVideoExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                            <div class="carousel-indicators">
                              <% for (const video of data.videos) { %>
                                <button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="<%= data.videos.indexOf(video) %>" class="active" aria-current="true" aria-label="Slide <%= video.id %>"></button>
                              <% } %>
                            </div>
                            <div class="carousel-inner">
                              <% for (const video of data.videos) { %>
                                <div class="carousel-item active">
                                  <video class="img-fluid" autoplay loop muted>
                                    <source src="/p/img/<%= video %>" type="video/mp4" />
                                  </video>
                                  <div class="carousel-caption d-none d-md-block">
                                    <h5>Destinations</h5>
                                    <p><%= data.category %></p>
                                  </div>
                                </div>
                              <% } %>
                            </div>
                            <button
                              class="carousel-control-prev"
                              type="button"
                              data-mdb-target="#carouselVideoExample"
                              data-mdb-slide="prev"
                            >
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button
                              class="carousel-control-next"
                              type="button"
                              data-mdb-target="#carouselVideoExample"
                              data-mdb-slide="next"
                            >
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      <% } %> -->
                    </div>
                    <div id="accordion" role="tablist">
                      <div class="card">
                        <div class="card-header" role="tab" id="activities">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseActivities" aria-expanded="true" aria-controls="collapseActivities" class="">
                              Popular Activities
                            </a>
                          </h5>
                        </div>
                        <div id="collapseActivities" class="collapse show" role="tabpanel" aria-labelledby="activities">
                          <div class="row card-body">
                            <% for (const activity of data.activities) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <img class="card-img-top" src="/p/img/<%= activity.image %>" alt="Photo">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= activity.name %></span></h4>
                                    </div>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <h6 class="card-subtitle text-secondary"><span><%= activity.category %></span></h6>
                                    </div>
                                    <% if (data.user) { %>
                                      <div class="row m-1 d-flex justify-content-center">
                                          <button class="btn btn-primary" id="Addfav-<%= activity.id %>" onclick="addToFavourites('<%= activity.id %>', '<%= !data.favourites.find((ft) => ft.item_id === activity.id && ft.category === `activity`) %>', 'activity')" type="submit"><%= data.favourites.find((ft) => ft.item_id === activity.id && ft.category === 'activity') ? 'Remove Favourite' : 'Add Favourite' %></button>
                                      </div>
                                    <% } %>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/activity/view/<%= activity.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="hotels">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseHotels" aria-expanded="true" aria-controls="collapseHotels" class="">
                              Popular Hotels
                            </a>
                          </h5>
                        </div>
                        <div id="collapseHotels" class="collapse show" role="tabpanel" aria-labelledby="hotels">
                          <div class="row card-body">
                            <% for (const hotel of data.hotels) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <img class="card-img-top" src="/p/img/<%= hotel.logo %>" alt="Photo">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= hotel.name %></span></h4>
                                    </div>
                                    <% if (data.user) { %>
                                      <div class="row m-1 d-flex justify-content-center">
                                          <button class="btn btn-primary" id="Addfav-<%= hotel.id %>" onclick="addToFavourites('<%= hotel.id %>', '<%= !data.favourites.find((ft) => ft.item_id === hotel.id && ft.category === `hotel`) %>', 'hotel')" type="submit"><%= data.favourites.find((ft) => ft.item_id === hotel.id && ft.category === 'hotel') ? 'Remove Favourite' : 'Add Favourite' %></button>
                                      </div>
                                    <% } %>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/hotel/view/<%= hotel.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="places">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapsePlaces" aria-expanded="true" aria-controls="collapsePlaces" class="">
                              Popular Top Attractive Places
                            </a>
                          </h5>
                        </div>
                        <div id="collapsePlaces" class="collapse show" role="tabpanel" aria-labelledby="places">
                          <div class="row card-body">
                            <% for (const place of data.places) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <img class="card-img-top" src="/p/img/<%= place.image %>" alt="Photo">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= place.name %></span></h4>
                                    </div>
                                    <% if (data.user) { %>
                                      <div class="row m-1 d-flex justify-content-center">
                                          <button class="btn btn-primary" id="Addfav-<%= place.id %>" onclick="addToFavourites('<%= place.id %>', '<%= !data.favourites.find((ft) => ft.item_id === place.id && ft.category === `place`) %>', 'place')" type="submit"><%= data.favourites.find((ft) => ft.item_id === place.id && ft.category === 'place') ? 'Remove Favourite' : 'Add Favourite' %></button>
                                      </div>
                                    <% } %>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/destination-place/view/<%= place.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="restaurants">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseRestaurants" aria-expanded="true" aria-controls="collapseRestaurants" class="">
                              Popular Restaurants
                            </a>
                          </h5>
                        </div>
                        <div id="collapseRestaurants" class="collapse show" role="tabpanel" aria-labelledby="restaurants">
                          <div class="row card-body">
                            <% for (const restaurant of data.restaurants) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <img class="card-img-top" src="/p/img/<%= restaurant.logo %>" alt="Photo">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= restaurant.name %></span></h4>
                                    </div>
                                    <% if (data.user) { %>
                                      <div class="row m-1 d-flex justify-content-center">
                                          <button class="btn btn-primary" id="Addfav-<%= restaurant.id %>" onclick="addToFavourites('<%= restaurant.id %>', '<%= !data.favourites.find((ft) => ft.item_id === restaurant.id && ft.category === `restaurant`) %>', 'restaurant')" type="submit"><%= data.favourites.find((ft) => ft.item_id === restaurant.id && ft.category === 'restaurant') ? 'Remove Favourite' : 'Add Favourite' %></button>
                                      </div>
                                    <% } %>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/restaurant/view/<%= restaurant.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="destinationStores">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseStores" aria-expanded="true" aria-controls="collapseStores" class="">
                              Popular Stores
                            </a>
                          </h5>
                        </div>
                        <div id="collapseStores" class="collapse show" role="tabpanel" aria-labelledby="destinationStores">
                          <div class="row card-body">
                            <% for (const store of data.destinationStores) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <img class="card-img-top" src="/p/img/<%= store.logo %>" alt="Photo">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= store.name %></span></h4>
                                    </div>
                                    <% if (data.user) { %>
                                      <div class="row m-1 d-flex justify-content-center">
                                          <button class="btn btn-primary" id="Addfav-<%= store.id %>" onclick="addToFavourites('<%= store.id %>', '<%= !data.favourites.find((ft) => ft.item_id === store.id && ft.category === `store`) %>', 'store')" type="submit"><%= data.favourites.find((ft) => ft.item_id === store.id && ft.category === 'store') ? 'Remove Favourite' : 'Add Favourite' %></button>
                                      </div>
                                    <% } %>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/destination-store/view/<%= store.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="packages">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapsePackages" aria-expanded="true" aria-controls="collapsePackages" class="">
                              Top Packages
                            </a>
                          </h5>
                        </div>
                        <div id="collapsePackages" class="collapse show" role="tabpanel" aria-labelledby="packages">
                          <div class="row card-body">
                            <% for (const package of data.packages) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <img class="card-img-top" src="/p/img/<%= package.image %>" alt="Photo">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= package.name %></span></h4>
                                    </div>
                                    <% if (data.user) { %>
                                      <div class="row m-1 d-flex justify-content-center">
                                          <button class="btn btn-primary" id="Addfav-<%= package.id %>" onclick="addToFavourites('<%= package.id %>', '<%= !data.favourites.find((ft) => ft.item_id === package.id && ft.category === `package`) %>', 'package')" type="submit"><%= data.favourites.find((ft) => ft.item_id === package.id && ft.category === 'package') ? 'Remove Favourite' : 'Add Favourite' %></button>
                                      </div>
                                    <% } %>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/package/view/<%= package.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" role="tab" id="transportations">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapseTransportation" aria-expanded="true" aria-controls="collapseTransportation" class="">
                              City Transporatation
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTransportation" class="collapse show" role="tabpanel" aria-labelledby="transportations">
                          <div class="row card-body">
                            <% for (const transportation of data.transportations) { %>
                              <div class="card col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-6 col-6 m-2">
                                <div class="card-body">
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h4 class="card-title"><span><%= transportation.name %></span></h4>
                                    </div>
                                    <div class="row m-1 d-flex justify-content-center">
                                        <h6 class="card-title text-secondary"><span><%= transportation.type %></span></h6>
                                    </div>
                                    <div class="row m-1 d-flex justify-content-center">
                                      <a href="/dashboard/transportation/view/<%= transportation.id %>" class="btn btn-primary">More Details</a>
                                    </div>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <div class="m-1">
                        <a href="/destination" class="btn btn-primary has-spinner">Cancel</a>
                      </div>
                      <!-- <div class="m-1">
                        <a href="/activity?destination_id=<%= data.id %>&category=all" class="btn btn-info has-spinner">See Destination Activities</a>
                        <a href="/hotel?destination_id=<%= data.id %>&category=1" class="btn btn-secondary has-spinner">See Destination Hotels</a>
                        <a href="/destination-place?destination_id=<%= data.id %>&category=1" class="btn btn-secondary has-spinner">See Destination Popular Places</a>
                        <a href="/restaurant?destination_id=<%= data.id %>&category=1" class="btn btn-info has-spinner">See Destination Restaurants</a>
                        <a href="/destination-store?destination_id=<%= data.id %>&category=1" class="btn btn-secondary has-spinner">See Destination Shopping Stores</a>
                        <a href="/package?destination_id=<%= data.id %>&category=1" class="btn btn-secondary has-spinner">See Destination Packages</a>
                      </div> -->
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script>
      var data = JSON.parse(`<%-JSON.stringify(data)%>`);
      var initMap = () => {
        var mapProp = {
          center: { lat: data['location_lat'], lng: data['location_long'] },
          scaleControl: true,
          fullscreenControlOptions: { position: google.maps.ControlPosition.RIGHT_BOTTOM },
          mapTypeId: 'hybrid',
          zoom: 12,
        };
        var map = new google.maps.Map(document.getElementById('googleMap'), mapProp);
        var marker = new google.maps.Marker({ position: mapProp.center, map, animation: google.maps.Animation.BOUNC });
        marker.setMap(map);
        // map.addListener("click", (mapsMouseEvent) => {
        //   infoWindow.close();
        //   infoWindow = new google.maps.InfoWindow({ position: mapsMouseEvent.latLng });
        // });
      };
      function addToFavourites(item_id, checked, category) {
        const settings = { url: `/favourite`, data: JSON.stringify({ item_id, checked, category }), contentType: "application/json", type: 'PUT' };
        $.ajax(settings).done(function (data) { location.reload(); }).fail(() => location.reload());
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVAIyZekr82kt8-pDk64xbyp26J1CnbTY&callback=initMap&v=weekly"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
