<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css"
      integrity="sha512-8vq2g5nHE062j3xor4XxPeZiPjmRDh6wlufQlfC6pdQ/9urJkU07NM0tEREeymP++NczacJ/Q59ul+/K2eYvcg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <style>
      th,
      td {
        text-align: center;
        vertical-align: middle !important;
      }
    </style>
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6">
                <!-- radio -->
                <div class="form-group clearfix mb-0">
                  <div class="icheck-primary d-inline mr-1">
                    <input type="radio" id="isIndividual" name="iCheck" checked />
                    <label for="isIndividual">Individual</label>
                  </div>
                  <div class="icheck-primary d-inline">
                    <input type="radio" id="isEntity" name="iCheck" />
                    <label for="isEntity">Entity</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active">Users</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-globe-americas"></i>
                &nbsp;&nbsp; Users
              </h3>
              <div class="card-tools">
                <input class="form-control form-control-sm my-2 my-lg-0" id="myInput" type="text" placeholder="Search..">
              </div>
              <div class="card-tools ml-5 mr-5">
                <button
                  type="button"
                  data-tooltip="Export Excel"
                  onclick="fnExcelReport()"
                  id="export-excel-btn"
                  class="btn btn-sm btn-info float-right mx-1"
                >
                  <i class="fas fa-file-excel"></i>
                  Export Excel
                </button>
              </div>
              <div class="card-tools">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="far fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-sm float-right" id="fromTo" />
                </div>
              </div>
            </div>
            <div id="spinner-notfound">
              <div class="w-100 d-flex justify-content-center align-items-center" style="min-height: 24em"></div>
            </div>
            <div id="tabe-items" class="card-body pad table-responsive">
              <table class="table table-bordered" id="table2excel" style="border: 1px solid #dee2e6">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Birth date</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Region</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Deleted</th>
                    <th scope="col">Sahlan points</th>
                    <th scope="col">Carbon points</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="tr-th-row"></tbody>
              </table>
              <ul id="pagination-demo" class="pagination-sm pt-2"></ul>
            </div>
            <div id="tabe-items-entity" class="card-body pad table-responsive">
              <table class="table table-bordered" style="border: 1px solid #dee2e6" id="table2excel">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Entity name</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    <th scope="col">Deleted</th>
                    <th scope="col">Sahlan points</th>
                    <th scope="col">Carbon points</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="tr-th-row-entity"></tbody>
              </table>
              <ul id="pagination-entity" class="pagination-sm pt-2"></ul>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"
      integrity="sha512-frFP3ZxLshB4CErXkPVEXnd5ingvYYtYhE5qllGdZmcOlRKNEPbufyupfdSTNmoF5ICaQNO6SenXzOZvoGkiIA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.3/icheck.min.js"
      integrity="sha512-RGDpUuNPNGV62jwbX1n/jNVUuK/z/GRbasvukyOim4R8gUEXSAjB4o0gBplhpO8Mv9rr7HNtGzV508Q1LBGsfA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="/js/user/list.js"></script>
    <%- include('../reports/export-excel.ejs') %>
  </body>
</html>
