<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/dashboard/destination">Destinations</a></li>
                  <li class="breadcrumb-item active">Edit</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; Edit Destination
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_title">Title Arabic</label>
                          <input
                            type="text"
                            id="ar_title"
                            name="ar_title"
                            class="form-control"
                            placeholder="Title Arabic"
                            value="<%= data.ar_title || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="en_title">Title English</label>
                          <input
                            type="text"
                            id="en_title"
                            name="en_title"
                            class="form-control"
                            placeholder="Title English"
                            value="<%= data.en_title || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="location_lat">Latitude</label>
                          <input
                            type="text"
                            id="location_lat"
                            name="location_lat"
                            class="form-control"
                            placeholder="Latitude"
                            value="<%= data.location_lat || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="location_long">Longitude</label>
                          <input
                            type="text"
                            id="location_long"
                            name="location_long"
                            class="form-control"
                            placeholder="Longitude"
                            value="<%= data.location_long || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6" style="padding-right: 22px; padding-left: 5px">
                          <label for="image">Image</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image" name="image" accept="image/x-png" onchange="loadImg(event)" />
                            <label class="custom-file-label" id="custom-file-label-img" for="image"><%= data.image || "Choose file" %></label>
                          </div>
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_image_display" width="120" height="120" src="/p/img/<%= data.image %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6" style="padding-right: 22px; padding-left: 5px">
                          <label for="file">File</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file" name="file" onchange="loadFile(event)" />
                            <label class="custom-file-label" id="custom-file-label" for="file"><%= data.file || "Choose file" %></label>
                          </div>
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_file_display" width="120" height="120" src="/p/img/<%= data.file %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_description">Description en</label>
                          <textarea type="text" id="en_description" name="en_description" class="form-control" placeholder="description en" rows="3"><%= data.en_description || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_description">Description ar</label>
                          <textarea type="text" id="ar_description" name="ar_description" class="form-control" placeholder="description ar" rows="3"><%= data.ar_description || null %></textarea>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_when_visit">When Visit Description en</label>
                          <textarea type="text" id="en_when_visit" name="en_when_visit" class="form-control" placeholder="When Visit Description en" rows="3"><%= data.en_when_visit || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_when_visit">When Visit Description ar</label>
                          <textarea type="text" id="ar_when_visit" name="ar_when_visit" class="form-control" placeholder="When Visit Description ar" rows="3"><%= data.ar_when_visit || null %></textarea>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_what_wear">What Wear Description en</label>
                          <textarea type="text" id="en_what_wear" name="en_what_wear" class="form-control" placeholder="When Visit Description en" rows="3"><%= data.en_what_wear || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_what_wear">What Wear Description ar</label>
                          <textarea type="text" id="ar_what_wear" name="ar_what_wear" class="form-control" placeholder="What Wear Description ar" rows="3"><%= data.ar_what_wear || null %></textarea>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_trans_desc">Transportation Description en</label>
                          <textarea type="text" id="en_trans_desc" name="en_trans_desc" class="form-control" placeholder="Transportation Description en" rows="3"><%= data.en_trans_desc || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_trans_desc">Transportation Description ar</label>
                          <textarea type="text" id="ar_trans_desc" name="ar_trans_desc" class="form-control" placeholder="Transportation Description ar" rows="3"><%= data.ar_trans_desc || null %></textarea>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_travel_regulation">Travel Regulation Description en</label>
                          <textarea type="text" id="en_travel_regulation" name="en_travel_regulation" class="form-control" placeholder="Travel Regulation Description en" rows="3"><%= data.en_travel_regulation || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_travel_regulation">Travel Regulation Description ar</label>
                          <textarea type="text" id="ar_travel_regulation" name="ar_travel_regulation" class="form-control" placeholder="Travel Regulation Description ar" rows="3"><%= data.ar_travel_regulation || null %></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button id="submitForm" type="submit" class="btn btn-primary has-spinner">Update</button>
                      <a href="/dashboard/media/<%= module_id %>/image/<%= data.id %>" class="btn btn-info has-spinner">See More Album Images</a>
                      <a href="/dashboard/media/<%= module_id %>/video/<%= data.id %>" class="btn btn-secondary has-spinner">See More Album Videos</a>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/destinations/edit.js"></script>
  </body>
</html>
