<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/dashboard/event">Events</a></li>
                  <li class="breadcrumb-item active">View</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; View Event
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_name">Name Arabic</label>
                          <input
                            readonly
                            type="text"
                            id="ar_name"
                            name="ar_name"
                            class="form-control"
                            placeholder="Name Arabic"
                            value="<%= data.ar_name || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="en_name">Name English</label>
                          <input
                            readonly
                            type="text"
                            id="en_name"
                            name="en_name"
                            class="form-control"
                            placeholder="Name English"
                            value="<%= data.en_name || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>Destination</label>
                            <select disabled id="destination_id" name="destination_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <option value="<%=data.destination_id%>" selected><%=data["tbl_destination.en_title"]%> - <%=data["tbl_destination.ar_title"]%></option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>Event Category</label>
                            <select disabled id="event_category_id" name="event_category_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <option value="<%=data.event_category_id%>" selected><%=data["tbl_event_category.en_name"]%> - <%=data["tbl_event_category.ar_name"]%></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>City</label>
                            <select disabled id="city_id" name="city_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <option value="<%=data.city_id%>" selected><%=data["tbl_city.en_name"]%> - <%=data["tbl_city.ar_name"]%></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>Audience</label>
                            <select disabled id="audience" name="audience" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <option value="<%=data.audience%>" selected><%=data["tbl_audience_category.en_name"]%> - <%=data["tbl_audience_category.ar_name"]%></option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>Event Type</label>
                            <select disabled disabled id="type" name="type" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <option value="<%= data.type %>" selected><%= data.type %></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6" style="padding-right: 22px; padding-left: 5px">
                          <label for="image">Image</label>
                          <div class="custom-file">
                            <label class="custom-file-label" id="custom-file-label-img" for="image"><%= data.image || "Choose file" %></label>
                          </div>
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_store_image_display" width="120" height="120" src="/p/img/<%= data.image %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="from">Start Date Time</label>
                          <input readonly class="form-control" type="datetime-local" id="from" value="<%= data.from %>" />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="to">End Date Time</label>
                          <input readonly class="form-control" type="datetime-local" id="to" value="<%= data.to %>" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_description">Description en</label>
                          <textarea disabled type="text" id="en_description" name="en_description" class="form-control" placeholder="description en" rows="3"><%= data.en_description || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_description">Description ar</label>
                          <textarea disabled type="text" id="ar_description" name="ar_description" class="form-control" placeholder="description ar" rows="3"><%= data.ar_description || null %></textarea>
                        </div>
                      </div>
                      <% if (images && images.length) { %>
                        <div class="row">
                          <div id="carouselEvents" class="carousel ml-3 mt-2" data-ride="carousel">
                            <div class="carousel-inner rounded" role="listbox"></div>
                            <a class="carousel-control-prev" href="#carouselEvents" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselEvents" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                      <% } %>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <a id="cancel" class="btn btn-primary has-spinner" href="/event/calendar">Cancel</a>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script>
      $(document).ready(function () {
        const images = JSON.parse(`<%-JSON.stringify(images)%>`);
        for (const image of images) {
          $('.carousel-inner').append(`
            <div class="carousel-item">
              <div class="carousel-caption d-none d-md-block text-light">
                <h4 class="text-center" style="font-size: 40px; font-weight: bold;"></h4>
              </div>
              <img class="d-block" src="${image.image}" alt="900x400" data-holder-rendered="true" style="width: 660px; height: 300px;">
            </div>
          `);
        }
        $('.carousel-item').first().addClass('active');
        $('#carousel').carousel();
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
