<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/heade.ejs') %>
    <!-- JQVMap -->
    <!-- <link rel="stylesheet" href="/css/plugins/jqvmap/jqvmap.min.css" /> -->
    <!-- Daterange picker -->
    <!-- <link rel="stylesheet" href="/css/plugins/daterangepicker/daterangepicker.css" /> -->
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/css/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
    <!-- summernote -->
    <!-- <link rel="stylesheet" href="/css/plugins/summernote/summernote-bs4.min.css" /> -->
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Tempusdominus Bootstrap 4 -->
    <!-- <link rel="stylesheet" href="/css/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" /> -->
  </head>

  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2"></div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-2">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1">
                  <i class="fas fa-user"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Sahlan Super Admin</span>
                  <a href="#"><span class="info-box-number">1</span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2">
              <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1">
                  <i class="fas fa-user"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Sahlan Admin</span>
                  <a href="#"><span class="info-box-number">0</span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-2" id="sponsorsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1">
                  <i class="nav-icon fas fa-users"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Sponsors</span>
                  <a href="/dashboard/sponser">
                    <span class="info-box-number"><%= data.totalSponsors.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                  </a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-2" id="initiativesdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1">
                  <i class="nav-icon fas fa-tree"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Initiatives</span>
                  <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-2" id="locationsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1">
                  <i class="fas fa-map-marked"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Locations</span>
                  <a href="/dashboard/location">
                    <span class="info-box-number"><%= data.totalLocation.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                  </a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-2" id="giftsdiv">
              <div class="info-box">
                <span class="info-box-icon bg-maroon elevation-1">
                  <i class="fas fa-gift"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Gifts</span>
                  <a href="/dashboard/gift"><span class="info-box-number"><%= data.totalGift.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="promosdiv">
              <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1">
                  <i class="fas fa-tag"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Promocodes</span>
                  <a href="/dashboard/promo"><span class="info-box-number"><%= data.totalPromo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <div class="col-12 col-sm-6 col-md-2" id="messagesdiv">
              <div class="info-box">
                <span class="info-box-icon bg-success elevation-1">
                  <i class="fas fa-envelope-open-text"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Messages</span>
                  <a href="#"><span class="info-box-number"><%= data.totalMessage.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="blogsdiv">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1">
                  <i class="far fa-newspaper"></i>
                </span>

                <div class="info-box-content">
                  <span class="info-box-text">Blogs</span>
                  <a href="#"><span class="info-box-number">0</span></a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-6" id="ordersdiv">
              <div class="card">
                <h3 class="card-title">
                  <p></p>
                  <a style="width: 120px" class="btn btn-app bg-info" href="/dashboard/order/new" id="newdiv">
                    <span style="font-size: 14px" class="badge bg-danger"><%= data.ordersChart.New.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                    <i class="fas fa-exclamation-circle"></i>
                    New Orders
                  </a>
                  <a style="width: 120px" class="btn btn-app bg-warning" href="/dashboard/order/inprogress" id="inprogressdiv">
                    <span style="font-size: 14px" class="badge bg-danger"><%= data.ordersChart.inProgress.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                    <i class="fas fa-circle-notch"></i>
                    In Progress Orders
                  </a>
                  <a style="width: 120px" class="btn btn-app bg-green" href="/dashboard/order/completed" id="completeddiv">
                    <span style="font-size: 14px" class="badge bg-danger"><%= data.ordersChart.completed.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                    <i class="far fa-check-circle"></i>
                    Completed Orders
                  </a>
                  <a style="width: 120px" class="btn btn-app bg-danger" href="/dashboard/order/cancelled" id="cancelleddiv">
                    <span style="font-size: 14px" class="badge bg-info"><%= data.ordersChart.cancelled.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span>
                    <i class="far fa-times-circle"></i>
                    Cancelled Orders
                  </a>
                </h3>

                <!-- /.card-body -->
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="destinationsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1">
                  <i class="nav-icon fas fa-map-marked"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Destinations</span>
                  <a href="/dashboard/destination">
                    <!-- <span class="info-box-number"><%= data.totalDestinations?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span> -->
                    <span class="info-box-number">10</span>
                  </a>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-2" id="eventsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1">
                  <i class="nav-icon far fa-circle"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Events</span>
                  <a href="/dashboard/event"><span class="info-box-number">5</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="activitiesdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1">
                  <i class="nav-icon far fa-circle"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Activities</span>
                  <a href="/dashboard/activity"><span class="info-box-number">8</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="tourGuidesdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-secondary elevation-1">
                  <i class="nav-icon fas fa-users"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Tour Guides</span>
                  <a href="/dashboard/guide"><span class="info-box-number">7</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="providersdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1">
                  <i class="nav-icon fas fa-user"></i>
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Providers</span>
                  <a href="/dashboard/provider"><span class="info-box-number">5</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="storesdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1">
                  <i class="nav-icon fas fa-store"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Stores</span>
                  <a href="/dashboard/store"><span class="info-box-number">5</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="tripsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1">
                  <i class="nav-icon fas fa-campground"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Trips</span>
                  <a href="/dashboard/trip"><span class="info-box-number">15</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="membershipsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-info elevation-1">
                  <i class="nav-icon fas fa-users"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Memberships</span>
                  <a href="/dashboard/membership"><span class="info-box-number">40</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="hotelsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1">
                  <i class="nav-icon fas fa-hotel"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Hotels</span>
                  <a href="/dashboard/hotel"><span class="info-box-number">12</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="restaurantsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1">
                  <i class="nav-icon fas fa-store"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Restaurants</span>
                  <a href="/dashboard/restaurant"><span class="info-box-number">20</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="adsdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1">
                  <i class="nav-icon far fa-circle"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Advertisments</span>
                  <a href="/dashboard/ads"><span class="info-box-number">50</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-2" id="placesdiv">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-secondary elevation-1">
                  <i class="nav-icon fas fa-map"></i>
                  <!-- <i class="nav-icon fas fa-user"></i> -->
                </span>
                <div class="info-box-content">
                  <span class="info-box-text">Attractive Places</span>
                  <a href="/dashboard/destination-place"><span class="info-box-number">6</span></a>
                  <!-- <a href="/dashboard/initiative"><span class="info-box-number"><%= data.totalInitiatives?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></span></a> -->
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>

          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info" id="treesdiv">
                  <div class="inner">
                    <h3>
                      <%= data.totalTrees %>
                    </h3>

                    <p>Trees</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-leaf"></i>
                  </div>
                  <a href="/dashboard/tree" class="small-box-footer">
                    More info
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-4 col-6" id="ordershdiv">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>
                      <%= data.currentMonthOrders.completed | 0 %>
                    </h3>

                    <p>Orders (Current Month)</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="/dashboard/order/completed" class="small-box-footer">
                    More info
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-4 col-6" id="usersdiv">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3><%= data.totalUsers.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h3>

                    <p>User Registrations</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a href="/dashboard/user" class="small-box-footer">
                    More info
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6" id="ticketsdiv">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <!-- <h3><%= data.totalUsers?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h3> -->
                    <h3>15</h3>
                    <p>Tickets & Orders</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-cash"></i>
                  </div>
                  <a href="/dashboard/ticket" class="small-box-footer">
                    More info
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6" id="packagesdiv">
                <!-- small box -->
                <div class="small-box bg-primary">
                  <div class="inner">
                    <!-- <h3><%= data.totalUsers?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h3> -->
                    <h3>12</h3>
                    <p>Packages</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="/dashboard/package" class="small-box-footer">
                    More info
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-4 col-6" id="reportsdiv">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3><%= data.totalIncome.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> SAR</h3>

                    <p>Total Income (Current Month)</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-cash"></i>
                  </div>
                  <a href="/dashboard/report/sales" class="small-box-footer">
                    More info
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- ./col -->
            </div>

            <div class="row">
              <!-- <div class="col-md-4">
                <div class="page-content page-container" id="page-content">
                  <div class="padding">
                    <div class="row">
                      <div class="container-fluid d-flex justify-content-center">
                        <div class="col-sm-12 col-md-12">
                          <div class="card">
                            <div class="card-header">Orders chart</div>
                            <div class="card-body" style="height: 333px">
                              <div
                                class="chartjs-size-monitor"
                                style="
                                  position: absolute;
                                  left: 0px;
                                  top: 0px;
                                  right: 0px;
                                  bottom: 0px;
                                  overflow: hidden;
                                  pointer-events: none;
                                  visibility: hidden;
                                  z-index: -1;
                                "
                              >
                                <div
                                  class="chartjs-size-monitor-expand"
                                  style="
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    overflow: hidden;
                                    pointer-events: none;
                                    visibility: hidden;
                                    z-index: -1;
                                  "
                                >
                                  <div style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
                                </div>
                                <div
                                  class="chartjs-size-monitor-shrink"
                                  style="
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    overflow: hidden;
                                    pointer-events: none;
                                    visibility: hidden;
                                    z-index: -1;
                                  "
                                >
                                  <div style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
                                </div>
                              </div>
                              <canvas
                                id="chart-line"
                                width="299"
                                height="200"
                                class="chartjs-render-monitor"
                                style="display: block; width: 299px; height: 200px"
                              ></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="col-md-8">
                <div class="card" style="height: 380px">
                  <div class="card-body">
                    <div class="d-flex">
                      <p class="d-flex flex-column">
                        <span id="totalIncomeThisYear" class="text-bold text-lg">SAR 18,230.00</span>
                        <span>Trees Orders Over Time</span>
                      </p>
                      <p id="percentOrderThisMonth" class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                          <i class="fas fa-arrow-up"></i>
                          33.1%
                        </span>
                        <span class="text-muted">Since last month</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->

                    <div class="position-relative mb-4">
                      <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                          <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                          <div class=""></div>
                        </div>
                      </div>
                      <canvas
                        id="sales-chart"
                        height="200"
                        style="display: block; width: 524px; height: 200px"
                        width="524"
                        class="chartjs-render-monitor"
                      ></canvas>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
              </div>
              <div class="col-md-4">
                <div class="card" style="height: 380px">
                  <div class="card-header border-0">
                    <h3 class="card-title">Quick Information</h3>
                    <div class="card-tools">
                      <a href="#" class="btn btn-sm btn-tool">
                        <i class="fas fa-bars"></i>
                      </a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-primary text-xl">
                        <span class="iconify" data-icon="icon-park-outline:transaction-order"></span>
                      </p>
                      <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                          <i class="ion ion-android-arrow-up text-success"></i>
                          <%= data.currentMonthOrders.completed %>
                        </span>
                        <span class="text-muted">Total Orders (Current Month)</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                      <p class="text-success text-xl">
                        <span class="iconify" data-icon="emojione:deciduous-tree"></span>
                      </p>
                      <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                          <i class="ion ion-android-arrow-up text-warning"></i>
                          <%= data.totalTrees %>
                        </span>
                        <span class="text-muted">Total Trees (Current Month)</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                    <div class="d-flex justify-content-between align-items-center mb-0">
                      <p class="text-danger text-xl">
                        <i class="ion ion-ios-people-outline"></i>
                      </p>
                      <p class="d-flex flex-column text-right">
                        <span class="font-weight-bold">
                          <i class="ion ion-android-arrow-down text-danger"></i>
                          <%= data.newUsers %>
                        </span>
                        <span class="text-muted">New Registered Users</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4" id="latestsponsorsdiv">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Latest Sponsors</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-2">
                    <ul>
                      <% data.lastSponser.forEach(function(sponser) { %>
                      <li class="text-center float-left list-unstyled p-1">
                        <img src=/p/img/<%= sponser.img %> width="70" height="70" alt="sponser Image" />
                        <a class="users-list-name" href="#"><%= sponser.sponser_name %></a>
                        <span class="users-list-date"><%= sponser.createdAt %></span>
                      </li>
                      <% }); %>
                    </ul>
                    <!-- /.users-list -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="/dashboard/sponser">View All Sponsors</a>
                  </div>
                  <!-- /.card-footer -->
                </div>
              </div>

              <div class="col-md-8" id="latestinitiativesdiv">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Last Initiatives</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <% data.lastInitiative.forEach(function(init) { %>
                      <div class="col-lg-4 col-xl-4 mb-2">
                        <div class="card mb-0 bg-gradient-dark">
                          <img class="card-img-top" height="120px" src=/p/img/<%= init.img %> alt="Dist Photo 1">
                          <div class="card-img-overlay d-flex flex-column justify-content-end">
                            <h5 class="card-title text-primary text-white"><%= init.name %></h5>
                          </div>
                        </div>

                        <div class="card-footer p-1">
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <p class="p-2 m-0">
                                Orders
                                <span class="float-right badge bg-primary mt-1">31</span>
                              </p>
                            </li>
                            <li class="nav-item">
                              <p class="p-2 m-0">
                                Income
                                <span class="float-right badge bg-primary mt-1">500</span>
                              </p>
                            </li>
                            <li class="nav-item">
                              <p class="p-2 m-0">
                                Locations
                                <span class="float-right badge bg-primary mt-1"><%= init.totalLocation.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") || 0 %></span>
                              </p>
                            </li>
                            <li class="nav-item">
                              <p class="p-2 m-0">
                                Carbon Offset
                                <span class="float-right badge bg-primary mt-1"><%= init.carbonPoint || 0 %></span>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer text-center">
                    <a href="/dashboard/initiative">View All Initiatives</a>
                  </div>
                  <!-- /.card-footer -->
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('layout/footer.ejs') %></footer>
    </div>
    <%- include('layout/script.ejs') %>
    <script>
      $.widget.bridge("uibutton", $.ui.button)
    </script>
    <!-- ChartJS -->
    <script src="/dashboard/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/dashboard/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <!-- <script src="/dashboard/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/dashboard/plugins/jqvmap/maps/jquery.vmap.usa.js"></script> -->
    <!-- jQuery Knob Chart -->
    <script src="/dashboard/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <!-- <script src="/dashboard/plugins/moment/moment.min.js"></script> -->
    <!-- <script src="/dashboard/plugins/daterangepicker/daterangepicker.js"></script> -->
    <!-- Tempusdominus Bootstrap 4 -->
    <!-- <script src="/dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script> -->
    <!-- Summernote -->
    <!-- <script src="/dashboard/plugins/summernote/summernote-bs4.min.js"></script> -->
    <!-- overlayScrollbars -->
    <script src="/dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="/dashboard/dist/js/demo.js"></script> -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script src="/dashboard/dist/js/pages/dashboard.js"></script> -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!-- <script src="/dashboard/dist/js/pages/dashboard3.js"></script> -->
  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script>
  $(document).ready(function () {
    const data = JSON.parse(`<%-JSON.stringify(data)%>`);
    if (!data.isHighestAdmin) {
      const sponsor = data.userPermissions.filter((userPermission) => userPermission.module.name === "Sponsors");
      if (!sponsor.length) {
        $('#sponsorsdiv').hide();
        $('#latestsponsorsdiv').hide();
      }
      const initiativeManagement = data.userPermissions.filter((userPermission) => userPermission.module.name === "Initiative Management");
      if (!initiativeManagement.length) {
        $('#initiativesdiv').hide();
        $('#latestinitiativesdiv').hide();
      }
      const location = data.userPermissions.filter((userPermission) => userPermission.module.name === "Locations");
      if (!location.length) $('#locationsdiv').hide();
      const gift = data.userPermissions.filter((userPermission) => userPermission.module.name === "Gift & Cards Management");
      if (!gift.length) $('#giftsdiv').hide();
      const promo = data.userPermissions.filter((userPermission) => userPermission.module.name === "Promo Codes");
      if (!promo.length) $('#promosdiv').hide();
      const message = data.userPermissions.filter((userPermission) => userPermission.module.name === "Unread Messages" || userPermission.module.name === "Read Messages");
      if (!message.length) $('#messagesdiv').hide();
      const blog = data.userPermissions.filter((userPermission) => userPermission.module.name === "Blogs");
      if (!blog.length) $('#blogsdiv').hide();
      const newOrders = data.userPermissions.filter((userPermission) => userPermission.module.name === "New Orders List");
      const inProgressOrders = data.userPermissions.filter((userPermission) => userPermission.module.name === "In Progress Orders List");
      const completedOrders = data.userPermissions.filter((userPermission) => userPermission.module.name === "Completed Orders List");
      const cancelledOrders = data.userPermissions.filter((userPermission) => userPermission.module.name === "Cancelled Orders List");
      if (!newOrders.length && !inProgressOrders.length && !completedOrders.length && !cancelledOrders.length) {
        $('#ordersdiv').hide();
        $('#ordershdiv').hide();
      }
      const trees = data.userPermissions.filter((userPermission) => userPermission.module.name === "Trees List");
      const treesHeader = data.userPermissions.filter((userPermission) => userPermission.module.name === "Trees Headers");
      if (!trees.length && !treesHeader.length) $('#treesdiv').hide();
      const usersClients = data.userPermissions.filter((userPermission) => userPermission.module.name === "Users - Clients");
      if (!usersClients.length) $('#usersdiv').hide();
      const ordersReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Orders Report");
      const usersReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Users Report");
      const sponsorsReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Sponsors Report");
      const initiativeReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Initiatives Report");
      const locationTreesReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Locations Trees Report");
      const locationReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Locations Report");
      const salesReport = data.userPermissions.filter((userPermission) => userPermission.module.name === "Sales Report");
      const calendarInitiative = data.userPermissions.filter((userPermission) => userPermission.module.name === "Calendar Initiative Report");
      const userCharts = data.userPermissions.filter((userPermission) => userPermission.module.name === "User Charts Report");
      if (!ordersReport.length && !usersReport.length && !sponsorsReport.length && !initiativeReport.length && !locationTreesReport.length && !locationReport.length && !salesReport.length && !calendarInitiative.length && !userCharts.length) $('#reportsdiv').hide();
    }
    var ctx = $("#chart-line")
    var myLineChart = new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ["New Orders", "In Progress Orders", "Completed Orders", "Cancelled Orders"],
        datasets: [
          {
            data: [
              "<%= data.ordersChart.New %>",
              "<%= data.ordersChart.inProgress %>",
              "<%= data.ordersChart.completed %>",
              "<%= data.ordersChart.cancelled %>",
            ],
            backgroundColor: ["#17a2b8", "#ffc107", "#28a745", "#dc3545"],
          },
        ],
      },
      options: {
        title: {
          display: false,
          // text: 'Orders'
        },
      },
    })
  })
</script>
<script>
  var currMonthName = moment().format("MMMM")
  var prevMonthName = moment().subtract(1, "month").format("MMMM")
  var monthsArr = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
  var ordersInYear = JSON.parse(`<%-JSON.stringify(data.ordersInYear)%>`)
  var monthsCountArr = monthsArr.map((m, i) => {
    for (let element of ordersInYear) {
      if (element.MONTH == m) {
        return element.count
      }
    }
    return 0
  })
  let CountOrderThisMonth = (ordersInYear.find((o) => o.MONTH == currMonthName) || {}).count || 0
  let CountOrderLastMonth = (ordersInYear.find((o) => o.MONTH === prevMonthName) || {}).count || 0

  if (CountOrderThisMonth > CountOrderLastMonth) {
    let mmm = (CountOrderLastMonth / CountOrderThisMonth) * 100
    $("#percentOrderThisMonth").html(
      `<span class="text-success">
        <i class="fas fa-arrow-up"></i>
        ${mmm.toFixed(2)} %
      </span>
      <span class="text-muted">Since last month</span>`
    )
  } else if (CountOrderThisMonth < CountOrderLastMonth) {
    let llll = (CountOrderThisMonth / CountOrderLastMonth) * 100
    $("#percentOrderThisMonth").html(
      `<span class="text-danger">
        <i class="fas fa-arrow-down"></i>
          -${llll.toFixed(2)} %
        </span>
        <span class="text-muted">Since last month</span>`
    )
  } else {
    $("#percentOrderThisMonth").html(
      `<span class="text-success">
        <i class="fas fa-arrow-up"></i>
        0 %
      </span>
      <span class="text-muted">Since last month</span>`
    )
  }
  $("#totalIncomeThisYear").text(
    `SAR ${ordersInYear.reduce((total, currentValue) => {
      const totalIncome = total + currentValue.allSum;
      return totalIncome.toString().replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }, 0)}`
  )
  $(function () {
    var areaChartData = {
      labels: monthsArr,
      datasets: [
        {
          label: "Order per month",
          backgroundColor: "rgba(60,141,188,0.9)",
          borderColor: "rgba(60,141,188,0.8)",
          pointRadius: false,
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: monthsCountArr,
        },
      ],
    }
    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $("#sales-chart").get(0).getContext("2d")
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    barChartData.datasets[0] = temp0

    var barChartOptions = {
      responsive: true,
      maintainAspectRatio: false,
      datasetFill: false,
    }

    new Chart(barChartCanvas, {
      type: "bar",
      data: barChartData,
      options: barChartOptions,
    })
  })
</script>
