<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/heade.ejs') %>
  </head>
  <body class="sidebar-mini layout-fixed text-sm text-sm">
    <div class="wrapper">
      <%- include('../layout/nav.ejs') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2 align-items-center mt-1">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/dashboard/store">Stores</a></li>
                  <li class="breadcrumb-item active">Edit</li>
                </ol>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-users"></i>
                      &nbsp;&nbsp; Edit Store
                    </h3>
                  </div>
                  <form id="newForm" action="" onsubmit="">
                    <div class="card-body">
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_name">Name Arabic</label>
                          <input
                            type="text"
                            id="ar_name"
                            name="ar_name"
                            class="form-control"
                            placeholder="Name Arabic"
                            value="<%= data.ar_name || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="en_name">Name English</label>
                          <input
                            type="text"
                            id="en_name"
                            name="en_name"
                            class="form-control"
                            placeholder="Name English"
                            value="<%= data.en_name || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <div class="form-group">
                            <label>Destination</label>
                            <select id="destination_id" name="destination_id" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%">
                              <% for(let [index,destination] of destinations.entries() || []){ %>
                                <option value="<%=destination.id%>"  <%= destination.id == data.destination_id ? 'selected' : ''%>   ><%=destination.en_title%> - <%=destination.ar_title%></option>
                              <%} %>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6" style="padding-right: 22px; padding-left: 5px">
                          <label for="logo">Logo</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="logo" name="logo" accept="image/x-png" onchange="loadImg(event)" />
                            <label class="custom-file-label" id="custom-file-label-img" for="logo"><%= data.logo || "Choose file" %></label>
                          </div>
                        </div>
                        <div class="form-group col-md-6 d-flex justify-content-center">
                          <img class="img-fluid mb-3" id="dest_store_image_display" width="120" height="120" src="/p/img/<%= data.logo %>" alt="Photo" />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="location_lat">Latitude</label>
                          <input
                            type="text"
                            id="location_lat"
                            name="location_lat"
                            class="form-control"
                            placeholder="Latitude"
                            value="<%= data.location_lat || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="location_long">Longitude</label>
                          <input
                            type="text"
                            id="location_long"
                            name="location_long"
                            class="form-control"
                            placeholder="Longitude"
                            value="<%= data.location_long || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="ar_name">Email Address</label>
                          <input
                            type="text"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Email Address"
                            value="<%= data.email || null %>"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="phone">Phone</label>
                          <input
                            type="text"
                            id="phone"
                            name="phone"
                            class="form-control"
                            placeholder="Phone"
                            value="<%= data.phone || null %>"
                          />
                        </div>
                      </div>
                      <div class="form-row mx-3 my-1">
                        <div class="form-group col-md-6">
                          <label for="en_description">Description en</label>
                          <textarea type="text" id="en_description" name="en_description" class="form-control" placeholder="description en" rows="3"><%= data.en_description || null %></textarea>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="ar_description">Description ar</label>
                          <textarea type="text" id="ar_description" name="ar_description" class="form-control" placeholder="description ar" rows="3"><%= data.ar_description || null %></textarea>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button id="submitForm" type="submit" class="btn btn-primary has-spinner">Update</button>
                      <a href="/dashboard/media/<%= module_id %>/image/<%= data.id %>" class="btn btn-info has-spinner">See More Album Images</a>
                      <a href="/dashboard/media/<%= module_id %>/video/<%= data.id %>" class="btn btn-secondary has-spinner">See More Album Videos</a>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- /.content -->
      </div>
      <footer class="main-footer"><%- include('../layout/footer.ejs') %></footer>
    </div>
    <%- include('../layout/script.ejs') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
      integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
      integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/store/edit.js"></script>
  </body>
</html>